@media screen and (min-width: 900px){
    .img11{
        width: 100%;
        height: 90%;
        margin: 15px 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 10px;
    }
}
@media screen and (max-width: 900px){
    .img11{
        width: 100%;
        height: 90%;
        margin: 5px 0;
        border-radius: 10px;
    }
}
@media screen and (min-width: 900px){
    .img12{
        width: 100%;
        height: 90%;
        margin: 15px 0;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 10px;
    }
}
@media screen and (max-width: 900px){
    .img12{
        width: 100%;
        height: 90%;
        margin: 5px 0;
        border-radius: 10px;
    }
}
.img21{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: 12px 0;
}
.img31{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 12px 0;
}
.img41, .img42{
    width: 100%;
    height: 16.1rem;
    border-radius: 10px;
    margin: 10px 0 0 0;
}
.img43{
    width: 100%;
    height: 16.1rem;
    border-radius: 10px;
    margin: 5px 0 0 0;
}
.img44{
    width: 95%;
    height: 550px;
    border-radius: 10px;
    margin: 10px 0 0 20px;
}
.img51{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: 12px 0;
}
.adsbox{
    /* width: 1140px;
    /*height: 633px;*/
    /* margin: 0 0 0 6.5rem; */ 
}