html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@font-face {*/
/*  font-family: 'YekanBoom';*/
/*  src: local('YekanBoom'), url(./pages/assest/Font/YekanBoom.ttf) format('truetype');*/
/*}*/
/*h1{*/
/*  font-family: YekanBoom;*/
/*}*/