.bottomNav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: hsla(0,0%,96.1%,.5);
    backdrop-filter: blur(10px);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.sortList {
    direction: rtl;
}

.sortButton {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.direction {
    direction: rtl;
}

.icon {
    position: relative;
}

.sortModal {
    font-weight: 300;
    position: absolute;
    top: -245px;
    left: 0;
    width: 100%;
    background-color: hsla(0,0%,96.1%,.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    z-index: 10000;
}

.active {
    color: #0082fd;
    background: rgba(204,230,254,0.4);
    border-radius: 5px;
}

.sortModal ul {
    background: #fff;
}

.sortModal ul li {
    font-weight: 300;
    min-width: 200px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
    list-style: none;
}

.filtersBox {
    font-weight: 300;
    position: absolute;
    max-height: 500px;
    top: -500px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    overflow-y: scroll;
    z-index: 10001;
}

.filtersBox section {
    max-width: unset;
}