.pic {
    width: 100vw;
    display: block;
}

.pageContent {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.pageGrid {
    width: 84%;
    display: grid;
    grid-template-columns: 3.5fr 1.2fr;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
    .pageGrid {
        width: 94%;
    }
}

@media screen and (max-width: 800px) {
    .pageGrid {
        width: 98%;
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width: 760px){
    .pageGrid {
        width: 90%;
        grid-template-columns: 1fr;
    }
}